nav {
  display: flex;
  justify-content: flex-end; /* pushes everything to the right */
  background-color: #200;
  padding: 1rem;
}


nav a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

/* Hover effect */
nav a:hover {
  color: blue;
}

