.import-google-fonts {
}

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.navbar {
  background-color: #fff ;
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: #000 ;
  font-weight: 700;
  font-family: 'Press Start 2P', monospace;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
}

.navbar .nav-link {
  margin-left: 20px;
  font-size: 16px;
}

.navbar .nav-link:hover {
  color: #333 ;
  transition: color .15s ease-in-out;
}

main h1, .intro-heading {
  font-family: 'Press Start 2P', monospace;
  font-size: 28px;
  color: #000;
  -webkit-font-smoothing: none;
}

body {
  color: #111;
}

    <style>
.box {
      background-color:black;
      height: 100vh;
      background-position: center;
      bacground-size: cover;
}
    </style>
